
CONFIDENTIAL.py
all_ids_sql.csv
all_audio_features_sql.csv
every_song_with_data.csv
references/ALL REFERENCES SEARCHABLE.pdf
references/_ALL REFERENCES SEARCHABLE.pdf
df_10M.parquet
release_dates_from_sql.csv
df_B100_songs_TEMP.parquet
sql_artist_id_by_track.csv
track_genre_sql.csv
df_B100_songs_STEP3COMPLETE.parquet
df_B100_songs_STEP2COMPLETE.parquet
df_10M_STEP3COMPLETE.parquet
df_10M_STEP2COMPLETE.parquet
df_track_genres.parquet
df_10M_RELEASEDATE.parquet
df_10M_STEP1COMPLETE.parquet
popularity_by_track_sql.csv
intermediary_calcs/
*.tmp
