
CONFIDENTIAL.py
all_ids_sql.csv
all_audio_features_sql.csv
every_song_with_data.csv
references/ALL REFERENCES SEARCHABLE.pdf
references/_ALL REFERENCES SEARCHABLE.pdf
df_10M.parquet
release_dates_from_sql.csv
df_B100_songs_TEMP.parquet
sql_artist_id_by_track.csv
track_genre_sql.csv
df_B100_songs_STEP3COMPLETE.parquet
df_B100_songs_STEP2COMPLETE.parquet
df_10M_STEP3COMPLETE.parquet
df_10M_STEP2COMPLETE.parquet
df_track_genres.parquet
df_10M_RELEASEDATE.parquet
df_10M_STEP1COMPLETE.parquet
popularity_by_track_sql.csv
intermediary_calcs/
*.tmp
SQL_track_release_date_and_genre.csv
df_1M_songs.pickle
df_SQL.pickle
_BACKUP/
df_10M_DUPES.pickle
df_10M.pickle
init_df_10M.pickle
X_precluster.pickle
X_not.pickle
X_clustered.pickle
X.pickle
df_10M_clustered.pickle
df_genre.pickle
df_id_from_API.pickle
__pycache__/
.ipynb_checkpoints/
.cache
lit review summary.csv
~$NAL_REPORT_CIND820_F2022_Kevin_Carr.docx
default_results_BACKUP.pickle
tf_model/
df_popularity_TEMP.pickle
df_B100_popularity_TEMP.pickle
df_predictions_DEFAULT.pickle
df_predictions_TUNED.pickle
